@media (max-width: 414px) {

    *{
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    }

    .skip{
        position: absolute;
        right: 5%;
        z-index: 1;
        font-size: 1.2rem;
        font-weight: 500;
        color: white;

    }
    
    .tag-line{
        position: absolute;
        top: 100px;
        right: 20%;
        z-index: 1;
    }

    .slider-item{
        position: relative;
        /* slider-items has display none; js na yung bahalang mag add ng active class */
        display: none;
        height: 100%;
        width: 100%;
        border-radius: 20px;
        background-color: lightblue;
        overflow: hidden;
    }

    .active{
        display: block;
        position: relative;
        height: 100%;
        width: 100%;
        border-radius: 20px;
        background-color: lightblue;
        overflow: hidden;
        background-color: blueviolet;
        animation: fadeIn 1s forwards;

    }

    #first-slide{
        
        background-color: red;

    }

    #second-slide{
      
        background-color: orange;

    }

    #third-slide{
        background-color: yellow;

    }

    .next-btn{
        right: 45px;
        height: 40px;
        width: 80%;
        position: absolute;
        border-radius: 50pc;
        bottom: 20px;
    }

    @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }



}
