@media (max-width: 414px){
    *{
        padding: 0px;
        margin: 0px;
    }
/* TODO4 : IMPORT A MUCH BETTER FONTS FOR THIS SHIT */
/* TODO 8 : PATONG PATONG YUNG MGA ELEMENTS KAPAG ACTIVE NA YUNG TIMER */
    body {
      background-image: url('https://i.pinimg.com/564x/0b/f4/60/0bf460bf07ff978af34050177232fd17.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
  }
    
    .background{
        /* normally hidden */
        display: none;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: black;
    }
    .timer{
        position: relative;
        top: 2px;
        margin: 0;
        height: 100vh;
        width: 98%;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        background-color: red;
    }
    
    .task{
        position: absolute;
        top: 8%;
        background-color: purple ;
        height: fit-content;
        width: fit-content;
        padding: 10px;
        border-radius: 50px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 1.2rem;
    
    }
    
    .focus-time{
    
        position: absolute;
        top: 20%;
        background-color: purple ;
        height: fit-content;
        width: fit-content;
        padding: 10px;
        border-radius: 50px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 1.2rem;
    
    }
    
    .break-time{
        position: absolute;
        top: 30%;
        background-color: purple ;
        height: fit-content;
        width: fit-content;
        padding: 10px;
        border-radius: 50px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 1.2rem;
        background-color: orange;
        display: none;
    }
    
    h2{
        position: relative;
        color: white;
        
    }

    .clock-face{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2px;
        top: 10%;
        right: 5rem;
        height: 250px;
        width: 500px;
        border-radius: 100%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3.5rem;
        color: white ;
        background-color: purple;
    }

    .progress-ring {
        position: absolute;
        top: 0;
        left: 0;
      }
      
      .progress-ring__circle {
        transition: 0.35s stroke-dashoffset;
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
      }

      .dialog{
        height: 100vh;
        width: 100%;
        margin: 5px;
        padding: 10px;
        color: white;
        background-color: purple;
      }

      .close{
        font-size: 2rem;
      }
      #task-label{
        position: relative;
        top: 30px;
        font-size: 2rem;
        margin: 5px;
      }
      #timer-task{
        top: 50px;
        left: 15px;
        height: 40px;
        width: 90%;
        position: relative;
        /* TODO 6: WHY THE FUCK DID YOU MAKE IT GRAY ? */
        background-color: gray;
        border-radius: 50px;
      }

      #timer-amount-labe{
        position: relative;
        top: 75px;
        left: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2rem;
      }

      #timer-amount{
        position: relative;
        top: 70px;
        left: 30px;
        height: 40px;
        width: 120px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
        padding-left: 2px;
        border-radius: 10px;
        background-color: white;
      }

      #timer-break-label{
        position: relative;
        top: 120px;
        left: 20px;
        font-size: 2rem;
      }

      #timer-break{
        position: relative;
        top: 118px;
        left: 50px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
        padding: 4px;
        border-radius: 10px;
        background-color: white;
      }

      /* TODO 7 : TEXT INSIDE THIS BUTTONS ARE NOT PROPERLY ALIGNED  */
      .controls{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 190px;
        left: 120px;
        width: fit-content;
        padding: 4px;
        gap: 10px;
      }

     button{
      height: 50px;
      width: 100px;
      border-radius: 20px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.4rem;
     }

     .timer-finished{ 

      position: absolute;
      height: 100vh;
      width: 100vw;
      margin: 0;
      overflow: hidden;
      display: block;
      /* hide for now */
      display: none;
     }

     .control-button{
      position: relative;
     }

     .control-button button{
      padding: 10px 20px; /* Adjust padding as needed */
  width: auto; /* Let the button width adjust based on content */
  max-width: 100%; 
  border-radius: 50px;
  background-color: wheat;
     }
    
     .timer-finished > .poster-img{
      position: relative;
      left: 5%;
      height: 90%;
      width: 90%;
      background-color: red;
      display: block;
  
     }
    
     .timer-finished > h3{
      position: absolute;
      z-index: 2;
      margin: 2px;
      top: 6%;
      left: 10%;
      color: white;
      font-weight: 600;
      font-size: 2.3rem;
     }
    
     .poster-img img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    
     }

}


 .timer-finished{ 

  position: absolute;
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
 }

 .timer-finished > .poster-img{
  position: relative;
  left: 5%;
  height: 90%;
  width: 90%;
  background-color: red;
 }

 .timer-finished > h3{
  position: absolute;
 }

 .poster-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;

 }